$kc-fonts-header: 'Open Sans Condensed', sans-serif;
$kc-fonts-primary: 'Open Sans', sans-serif;

$kc-fontsize-sm: 0.8rem;
$kc-fontsize-md: 1rem;
$kc-fontsize-lg: 1.4rem;
$kc-fontsize-xl: 2rem;

$kc-header-sm: 1.75rem;
$kc-header-md: 2rem;
$kc-header-lg: 2.25rem;
$kc-header-xl: 2.75rem;

