$k9-fonts-header: 'Open Sans Condensed', sans-serif;
$k9-fonts-primary: 'Open Sans', sans-serif;

$k9-fontsize-sm: 0.8rem;
$k9-fontsize-md: 1rem;
$k9-fontsize-lg: 1.4rem;
$k9-fontsize-xl: 2rem;

$k9-header-sm: 1.75rem;
$k9-header-md: 2rem;
$k9-header-lg: 2.25rem;
$k9-header-xl: 2.75rem;

