@import 'variables/variables';

// Global styles
* {
    box-sizing: border-box;
}

html, body {
    background: $offwhite;
    overflow-x: hidden;
}

a, p, h4, span {
    text-decoration: none;
    color: inherit;
    font-family: $k9-fonts-primary;
}

.k9-card-header, .k9-dog-card {
    h4 {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $gray;
    }
}
