@import 'variables/variables';

// Global styles
* {
    box-sizing: border-box;
}

html, body {
    background: $offwhite;
}

a, p {
    text-decoration: none;
    color: inherit;
    font-family: $k9-fonts-primary;
}
