@import '_variables';
:host {
    .k9-spinner-outer {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        animation: spin 2000ms linear forwards infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
