@import '_variables';
:host {
    .k9-spinner-wrap {
        display: inline-block;
        animation: spin 1000ms linear forwards infinite;
        fa-icon {
            color: $gray;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
