@import '_variables';
:host {
    .k9-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: $k9-spacing-lg;
        background-color: white;
    }
    .k9-search-error-text {
        color: $error;
        text-align: center;
        padding: $k9-spacing-md 0;
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .k9-logo-wrap {
        margin-right: $k9-spacing-lg;
        k9-text {
            display: inline-block;
            white-space: nowrap;
            transform: translateY(-150%);
        }
    }
    img.k9-logo {
        display: inline-block;
        width: 130px;
    }
    .k9-search-wrap {
        position: relative;
    }
    img.k9-dog {
        display: inline-block;
        width: 295px;
        position: absolute;
        top: 125px;
        right: 40%;
        animation: fadeIn 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 10000;
    }
    p.k9-tos-link {
        position: absolute;
        width: 100%;
        left: 50%;
        text-align: center;
        padding: $k9-spacing-md 0;
        transform: translateX(-50%);
        font-size: 0.75rem;
        color: $dark;
        line-height: 1.25rem;
        a {
            color: $blue;
        }
    }
    @media only screen and (max-width: 815px) {
        .k9-header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            padding: $k9-spacing-md;
        }
        p.k9-tos-link {
            position: initial;
            transform: translateX(0%);
            margin: 0 auto;
            display: inline-block;
            text-align: center;
            left: 0%;
        }
        img.k9-dog {
            top: 200px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

