<header class="k9-header">
    <div class="k9-logo-wrap">
        <img
            class="k9-logo"
            src="../../../assets/images/k9-logo.jpg"
            alt="k9PreCheck Logo"
        >
        <k9-text [content]="'We Ship Dogs.'"></k9-text>
    </div>
    <div class="k9-search-wrap">
        <k9-searchbar
            [placeholder]="'START HERE! ENTER OUTBOUND OR RETURN BILL NUMBER'"
            (search)="search.emit($event)"
        ></k9-searchbar>
        <p
            *ngIf="!(searchError$ | async) && !(data$ | async)"
            class="k9-toc-link"
        >
            By using this service, you agree to be bound by
            <a href="#toc">terms and conditions</a>
        </p>
        <p
            *ngIf="searchError$ | async"
            class="k9-search-error-text"
        >
            NOT FOUND. PLEASE TRY AGAIN.
        </p>
        <img
            *ngIf="!(data$ | async) && !(fetching$ | async)"
            class="k9-dog"
            src="../../../assets/images/dog.png"
            alt="Dog"
        >
    </div>
</header>
