@import '_variables';
:host {
    .k9-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: $k9-spacing-lg;
        background-color: white;
    }
    .k9-logo-wrap {
        margin-right: $k9-spacing-lg;
        k9-text {
            display: inline-block;
            white-space: nowrap;
            margin-left: $k9-spacing-sm;
            transform: translateY(125%);
        }
    }
    img.k9-logo {
        display: inline-block;
        width: 130px;
    }
    .k9-header-actions-wrap {
        flex: 1;
        width: 100%;
        position: relative;
    }
    .k9-searchbar-wrap {
        text-align: center;
        max-width: 500px;
        margin-left: auto;
    }
    .k9-radio-inputs-wrap,
    .k9-header-tos-wrap {
        height: 50px;
        display: flex;
        align-items: center;
    }
    .k9-header-tos-wrap {
        justify-content: center;
    }
    .k9-search-error-text {
        color: $error;
    }
    .k9-tos-link {
        color: $dark;
        font-size: 0.75rem;
        width: 100%;
        a {
            color: $blue;
        }
    }
    .k9-radio-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:first-child {
            margin-right: $k9-spacing-md;
        }
        &.k9-radio-btn-active {
            .k9-radio-btn-inner {
                background-color: $darkblue;
            }
        }
    }
    .k9-radio-btn-outer {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid $gray;
        padding: 2px;
        margin-right: $k9-spacing-sm;
    }
    .k9-radio-btn-inner {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }

    @media only screen and (max-width: 880px) {
        .k9-header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            padding: $k9-spacing-lg;
        }
        .k9-logo-wrap {
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            k9-text {
                margin-top: $k9-spacing-sm;
                transform: translateY(0%);
            }
        }
        .k9-header-actions-wrap {
            margin-top: $k9-spacing-md;
        }
        .k9-searchbar-wrap {
            margin-right: auto;
        }
        .k9-radio-inputs-wrap {
            justify-content: center;
        }
    }
    @media only screen and (max-width: 500px) {
        img.k9-dog {
            right: 10%;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

