<header class="k9-header">
    <div class="k9-logo-wrap">
        <img
            class="k9-logo"
            src="../../../assets/images/k9-logo.jpg"
            alt="k9PreCheck Logo"
            style="width: 127px !important"
        >
        <k9-text
            [content]="'Purebred Dog Shipping Specialists.'"
            [fontSize]="'1.2rem'"
        ></k9-text>
    </div>
    <div class="k9-header-actions-wrap">
        <div class="k9-searchbar-wrap">
            <div class="k9-radio-inputs-wrap">
                <div
                    class="k9-radio-btn"
                    [class.k9-radio-btn-active]="modeService.mode === 'trip'"
                    (click)="updateMode('trip')"
                >
                    <div class="k9-radio-btn-outer">
                        <div class="k9-radio-btn-inner"></div>
                    </div>
                    <k9-text [content]="'TRIP INFO'"></k9-text>
                </div>
                <div
                    class="k9-radio-btn"
                    [class.k9-radio-btn-active]="modeService.mode === 'member'"
                    (click)="updateMode('member')"
                >
                    <div class="k9-radio-btn-outer">
                        <div class="k9-radio-btn-inner"></div>
                    </div>
                    <k9-text [content]="'MEMBER INFO'"></k9-text>
                </div>
            </div>
            <k9-searchbar
                [searchError$]="searchError$"
                [placeholder]="searchbarPlaceholder"
                [buttonText]="searchButtonText$ | async"
                (search)="search.emit($event)"
                (clear)="clear.emit($event)"
            ></k9-searchbar>
            <div class="k9-header-tos-wrap">
                <p
                    *ngIf="!(searchError$ | async)"
                    class="k9-tos-link"
                >
                    By using this service, you agree to be bound by
                    <a href="#tos">terms and conditions</a>
                </p>
                <p
                    *ngIf="searchError$ | async"
                    class="k9-search-error-text"
                >
                    NOT FOUND. PLEASE TRY AGAIN.
                </p>
            </div>
        </div>
    </div>
</header>
