@import '_variables';
:host {
    .k9-footer {
        display: flex;
        padding: $k9-spacing-lg 4rem;
        background-color: white;
        height: 250px;
    }
    .k9-footer-terms-wrap {
        flex: 1;
    }
    .k9-footer-copyright-wrap {
        flex: 0.5;
    }
}
