@import '_variables';
:host {
    .k9-card-img-wrap {
        text-align: center;
        width: 100%;
    }
    .k9-card-img {
        margin-bottom: $k9-spacing-md;
        margin-left: auto;
        margin-right: auto;
        img {
            display: block;
            width: 100%;
        }
    }
}
