<div class="k9-searchbar-wrap">
    <input
        class="k9-searchbar"
        type="text"
        [placeholder]="placeholder"
        [(ngModel)]="searchTerm"
        (focus)="focused = true"
        (blur)="focused = false"
        (ngModelChange)="searchTermChange($event)"
    >
    <span
        #SearchBtn
        class="k9-search-button"
        [class.disabled]="!formValid"
        (click)="buttonText === 'CLEAR' ? doClear() : (formValid && doSearch())"
    >
        {{buttonText}}
    </span>
</div>
