@import '_variables';
:host {
    .k9-searchbar-wrap {
        width: 100%;
        max-width: 500px;
        text-align: center;
        margin-left: auto;
        position: relative;
    }
    .k9-searchbar-search-container {
        display: flex;
    }
    .k9-searchbar {
        width: 100%;
        padding: $k9-spacing-md;
        display: block;
        border: 1px solid darken($offwhite, 5%);
        text-overflow: ellipsis;
    }
    .k9-search-button {
        background-color: $darkblue;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: $k9-spacing-md;
        margin-left: $k9-spacing-sm;
        color: $offwhite;
        cursor: pointer;
        &:hover:not(.disabled) {
            opacity: 0.9;
        }
        &.disabled {
            opacity: 0.7;
            cursor: initial;
        }
    }
    .k9-search-error-text,
    .k9-tos-link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        transform: translateY(125%);
        width: 100%;
    }
    .k9-search-error-text {
        color: $error;
    }
    .k9-tos-link {
        color: $dark;
        font-size: 0.75rem;
        width: 100%;
        a {
            color: $blue;
        }
    }
    @media only screen and (max-width: 880px) {
        .k9-searchbar-wrap {
            margin: $k9-spacing-md auto $k9-spacing-md auto;
        }
        .k9-searchbar-search-container {
            margin: $k9-spacing-lg 0;
        }
    }
}

