@import '_variables';
:host {
    display: block;
    .k9-searchbar-wrap {
        width: 100%;
        text-align: center;
        margin-left: auto;
        display: flex;
    }
    .k9-searchbar {
        width: 100%;
        padding: $k9-spacing-md;
        display: block;
        border: 1px solid darken($offwhite, 5%);
        text-overflow: ellipsis;
    }
    .k9-search-button {
        background-color: $darkblue;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: $k9-spacing-md;
        margin-left: $k9-spacing-sm;
        color: $offwhite;
        cursor: pointer;
        &:hover:not(.disabled) {
            opacity: 0.9;
        }
        &.disabled {
            opacity: 0.7;
            cursor: initial;
        }
    }

    @media only screen and (max-width: 880px) {
        // .k9-searchbar-wrap {
        //     margin: $k9-spacing-md auto $k9-spacing-md auto;
        // }
    }
}

