@import '_variables';
:host {
    .k9-landing-body {
        background-color: $offwhite;
        min-height: calc(100vh - 425px);
        padding: $k9-spacing-lg;
    }
    .k9-landing-result-container {
        animation: fadeIn 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

        k9-card {
            display: block;
            margin-bottom: 40px;
        }
    }
    .k9-landing-height-guard {
        min-height: 250px;
    }

    .k9-card-header {
        padding: $k9-spacing-md;
    }
    .k9-dog-card,
    .k9-cosignee-card,
    .k9-travel-card {
        padding: $k9-spacing-md;
        display: flex;
        flex-wrap: wrap;
    }
    .k9-dog-card {
        justify-content: space-between;
    }
    .k9-dog-card-dog-info-wrap,
    .k9-dog-card-owner-info-wrap {
        margin-top: $k9-spacing-md;
        display: flex;
        flex-wrap: wrap;
    }
    .k9-dog-card-img-wrap,
    .k9-cosignee-card-img-wrap {
        width: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $k9-spacing-md;
        img {
            display: block;
            width: 100%;
        }
        k9-text {
            margin: $k9-spacing-md 0;
        }
    }
    .k9-card-contact-wrap {
        padding: 0 $k9-spacing-md;
        k9-text {
            display: block;
            margin-bottom: $k9-spacing-sm;
        }
    }
    .k9-cosignee-card-cosignee-info {
        display: flex;
    }
    .k9-dog-card-dog-info-wrap {
        .k9-dog-card-img-wrap {
            margin-right: $k9-spacing-lg;
        }
    }
    .k9-travel-card-info-wrap {
        margin: 0 3rem $k9-spacing-md 0;
        k9-text {
            display: block;
            margin-bottom: $k9-spacing-sm;
            &:first-child {
                margin-bottom: $k9-spacing-md;
            }
        }
    }
    .k9-travel-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
