@import '_variables';
:host {
    .k9-landing-body {
        background-color: $offwhite;
        min-height: calc(100vh - 400px);
        padding: $k9-spacing-lg;
        position: relative;
    }
    .k9-landing-result-container {
        animation: fadeIn 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        k9-card {
            display: block;
            margin-bottom: 40px;
        }
    }
    .k9-landing-dog-img-wrap {
        max-width: 500px;
        margin-left: auto;
        min-height: 250px;
        text-align: center;
    }
    img.k9-dog {
        display: inline-block;
        width: 295px;
        animation: fadeIn 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        z-index: 10000;
    }
    .k9-landing-spinner-wrap {
        animation: fadeIn 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .k9-card-header {
        padding: $k9-spacing-md $k9-spacing-md 0 $k9-spacing-md;
    }
    .k9-card-body {
        padding: $k9-spacing-md;
    }
    .k9-card-body {
        display: flex;
    }
    .k9-card-details-wrap {
        margin-left: $k9-spacing-sm;
    }
    // Dog card
    .k9-dog-card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .dog-card-body {
        margin-top: $k9-spacing-md;
    }
    .dog-card-dog-items {
        display: flex;
        margin-top: $k9-spacing-lg;
        justify-content: space-around;
    }
    .dog-card-dog,
    .dog-card-dog-item {
        margin-right: $k9-spacing-lg;
    }
    .dog-card-owner {
        flex: 1;
        display: flex;
    }
    .item-sm {
        display: none;
    }
    .k9-card-body-empty {
        margin: $k9-spacing-md 0;
    }
    // Consignee card
    .consignee-card-body {
        flex-wrap: wrap;
    }
    .consignee-card-consignee {
        margin: $k9-spacing-md $k9-spacing-md $k9-spacing-md 0;
        display: flex;
    }

    // Travel card
    .k9-travel-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .k9-travel-card-body {
        flex-wrap: wrap;
    }
    .k9-travel-card-info-wrap {
        &:not(:last-child) {
            margin-right: 4rem;
        }
    }
    .travel-card-info-header {
        margin-top: $k9-spacing-md;
    }
    .travel-card-info-body {
        margin-top: $k9-spacing-md;
    }
    @media only screen and (max-width: 880px) {
        .k9-landing-dog-img-wrap {
            max-width: none;
        }
    }
    @media only screen and (max-width: 1100px) {
        .dog-card-dog,
        .dog-card-dog-item {
            width: 25%;
        }
        .dog-card-owner {
            .k9-card-image-wrap {
                width: 25%;
            }
        }
    }
    @media only screen and (max-width: 815px) {
        .item-sm {
            display: flex;
        }
        .item-lg {
            display: none;
        }
        .k9-dog-card {
            flex-direction: column;
        }
        .k9-dog-card-dog-section {
            .k9-card-body {
                flex-wrap: wrap;
            }
        }
        .dog-card-dog,
        .dog-card-dog-item {
            margin-right: 0;
        }
        .dog-card-dog {
            width: 100%;
        }
        .dog-card-dog-item {
            width: 40%;
        }
        .dog-card-owner {
            .k9-card-image-wrap {
                width: 40%;
            }
        }

        .consignee-card-body {
            flex-direction: column;
            .k9-card-details-wrap {
                margin-left: 0;
            }
        }
        .consignee-card-consignee {
            flex-direction: column;
        }
    }
    @media only screen and (max-width: 500px) {
        .dog-card-body {
            .k9-card-details-wrap {
                margin-left: 0;
            }
        }
        .dog-card-owner {
            flex-direction: column;
            .k9-card-image-wrap {
                width: 100%;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
