<k9-header
    [searchError$]="searchError$"
    [data$]="data$"
    [fetching$]="fetching$"
    (search)="doSearch($event)"
    (clear)="doClear($event)"
></k9-header>
<section class="k9-landing-body">
    <div
        *ngIf="!(data$ | async) && !(fetching$ | async)"
        class="k9-landing-dog-img-wrap"
    >
        <img
            class="k9-dog"
            src="../../../assets/images/dog.png"
            alt="Dog"
        >
    </div>
    <div
        *ngIf="!(data$ | async) && fetching$ | async"
        class="k9-landing-spinner-wrap"
    >
        <k9-spinner></k9-spinner>
    </div>
    <div
        *ngIf="data$ | async as row"
        class="k9-landing-result-container"
    >
        <k9-card>
            <div
                card-body
                class="k9-dog-card"
            >
                <div class="k9-dog-card-dog-section">
                    <div class="k9-card-header">
                        <h4>Dog</h4>
                    </div>
                    <div class="k9-card-body dog-card-body">
                        <div class="k9-card-item dog-card-dog">
                            <k9-card-image
                                [src]="row[columnIds.PICTURE_OF_DOG]"
                                [alt]="'Picture of Dog'"
                                [label]="row[columnIds.CALL_NAME] + ', ' + row[columnIds.BREED]"
                                [imageWidth]="imageWidths.dogCard[windowSize]"
                            ></k9-card-image>
                        </div>
                        <div class="dog-card-dog-item item-lg">
                            <k9-card-image
                                *ngIf="modeService.mode === 'trip'"
                                [src]="row[columnIds.PICTURE_OF_CRATE]"
                                [alt]="'Picture of Crate'"
                                [label]="'Crate, ' + row[columnIds.CRATE_TYPE] + ', ' + row[columnIds.CRATE_SIZE]"
                                [imageWidth]="imageWidths.dogCard[windowSize]"
                            ></k9-card-image>
                            <k9-card-image
                                *ngIf="modeService.mode === 'member'"
                                [src]="row[columnIds.PICTURE_OF_CRATE]"
                                [alt]="'Picture of Crate'"
                                [label]="'Crate'"
                                [imageWidth]="imageWidths.dogCard[windowSize]"
                            ></k9-card-image>
                        </div>
                        <div class="dog-card-dog-item item-lg">
                            <k9-card-image
                                [src]="row[columnIds.PICTURE_OF_WATER_RECEPTICALE]"
                                [alt]="'Picture of Water Receptacle'"
                                [label]="'Food/Water Receptacle'"
                                [imageWidth]="imageWidths.dogCard[windowSize]"
                            ></k9-card-image>
                        </div>
                        <div class="dog-card-dog-items item-sm">
                            <div class="dog-card-dog-item">
                                <k9-card-image
                                    [src]="row[columnIds.PICTURE_OF_CRATE]"
                                    [alt]="'Picture of Crate'"
                                    [label]="'Crate, ' + row[columnIds.CRATE_TYPE] + ', ' + row[columnIds.CRATE_SIZE]"
                                    [imageWidth]="imageWidths.dogCard[windowSize]"
                                ></k9-card-image>
                            </div>
                            <div class="dog-card-dog-item">
                                <k9-card-image
                                    [src]="row[columnIds.PICTURE_OF_WATER_RECEPTICALE]"
                                    [alt]="'Picture of Water Receptacle'"
                                    [label]="'Food/Water Receptacle'"
                                    [imageWidth]="imageWidths.dogCard[windowSize]"
                                ></k9-card-image>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="k9-dog-card-owner-section">
                    <div class="k9-card-header">
                        <h4>Owner</h4>
                    </div>
                    <div class="k9-card-body dog-card-body">
                        <div class="k9-card-item dog-card-owner">
                            <div class="k9-card-image-wrap">
                                <k9-card-image
                                    [src]="row[columnIds.OWNER_PICTURE]"
                                    [alt]="row[columnIds.OWNER_NAME]"
                                    [label]="row[columnIds.OWNER_NAME]"
                                    [imageWidth]="imageWidths.owner[windowSize]"
                                ></k9-card-image>
                            </div>
                            <div class="k9-card-details-wrap">
                                <k9-card-details [details]="[row[columnIds.OWNER_ADDRESS], row[columnIds.OWNER_CITY] + ', ' + row[columnIds.OWNER_STATE] + ' ' + row[columnIds.OWNER_ZIP_CODE], row[columnIds.OWNER_PHONE], row[columnIds.OWNER_EMAIL]]"></k9-card-details>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </k9-card>
        <k9-card>
            <div
                card-header
                class="k9-card-header"
            >
                <h4>CONSIGNEE(S)</h4>
            </div>
            <div
                *ngIf="modeService.mode === 'member'"
                card-body
                class="k9-card-body consignee-card-body k9-card-body-empty"
            >
                <k9-text [content]="'To view consignee information, search for trip info.'"></k9-text>
            </div>
            <div
                *ngIf="modeService.mode === 'trip'"
                card-body
                class="k9-card-body consignee-card-body"
            >
                <div
                    *ngIf="row[columnIds.CONSIGNEE1_NAME]"
                    class="k9-card-item consignee-card-consignee"
                >
                    <div class="k9-card-image-wrap">
                        <k9-card-image
                            [src]="row[columnIds.CONSIGNEE1_PICTURE]"
                            [alt]="row[columnIds.CONSIGNEE1_NAME]"
                            [label]="row[columnIds.CONSIGNEE1_NAME]"
                            [imageWidth]="imageWidths.consignee[windowSize]"
                        ></k9-card-image>
                    </div>
                    <div class="k9-card-details-wrap">
                        <k9-card-details [details]="[row[columnIds.CONSIGNEE1_ADDRESS], row[columnIds.CONSIGNEE1_CITY] + ', ' + row[columnIds.CONSIGNEE1_STATE] + ' ' + row[columnIds.CONSIGNEE1_ZIP_CODE], row[columnIds.CONSIGNEE1_PHONE], row[columnIds.CONSIGNEE1_EMAIL]]"></k9-card-details>
                    </div>
                </div>
                <div
                    *ngIf="row[columnIds.CONSIGNEE2_NAME]"
                    class="k9-card-item consignee-card-consignee"
                >
                    <div class="k9-card-image-wrap">
                        <k9-card-image
                            [src]="row[columnIds.CONSIGNEE2_PICTURE]"
                            [alt]="row[columnIds.CONSIGNEE2_NAME]"
                            [label]="row[columnIds.CONSIGNEE2_NAME]"
                            [imageWidth]="imageWidths.consignee[windowSize]"
                        ></k9-card-image>
                    </div>
                    <div class="k9-card-details-wrap">
                        <k9-card-details [details]="[row[columnIds.CONSIGNEE2_ADDRESS], row[columnIds.CONSIGNEE2_CITY] + ', ' + row[columnIds.CONSIGNEE1_STATE] + ' ' + row[columnIds.CONSIGNEE2_ZIP_CODE], row[columnIds.CONSIGNEE2_PHONE], row[columnIds.CONSIGNEE2_EMAIL]]"></k9-card-details>
                    </div>
                </div>
                <div
                    *ngIf="row[columnIds.CONSIGNEE3_NAME]"
                    class="k9-card-item consignee-card-consignee"
                >
                    <div class="k9-card-image-wrap">
                        <k9-card-image
                            [src]="row[columnIds.CONSIGNEE3_PICTURE]"
                            [alt]="row[columnIds.CONSIGNEE3_NAME]"
                            [label]="row[columnIds.CONSIGNEE3_NAME]"
                            [imageWidth]="imageWidths.consignee[windowSize]"
                        ></k9-card-image>
                    </div>
                    <div class="k9-card-details-wrap">
                        <k9-card-details [details]="[row[columnIds.CONSIGNEE3_ADDRESS], row[columnIds.CONSIGNEE3_CITY] + ', ' + row[columnIds.CONSIGNEE3_STATE] + ' ' + row[columnIds.CONSIGNEE3_ZIP_CODE], row[columnIds.CONSIGNEE3_PHONE], row[columnIds.CONSIGNEE3_EMAIL]]"></k9-card-details>
                    </div>
                </div>
                <div
                    *ngIf="row[columnIds.CONSIGNEE4_NAME]"
                    class="k9-card-item consignee-card-consignee"
                >
                    <div class="k9-card-image-wrap">
                        <k9-card-image
                            [src]="row[columnIds.CONSIGNEE4_PICTURE]"
                            [alt]="row[columnIds.CONSIGNEE4_NAME]"
                            [label]="row[columnIds.CONSIGNEE4_NAME]"
                            [imageWidth]="imageWidths.consignee[windowSize]"
                        ></k9-card-image>
                    </div>
                    <div class="k9-card-details-wrap">
                        <k9-card-details [details]="[row[columnIds.CONSIGNEE4_ADDRESS], row[columnIds.CONSIGNEE4_CITY] + ', ' + row[columnIds.CONSIGNEE4_STATE] + ' ' + row[columnIds.CONSIGNEE4_ZIP_CODE], row[columnIds.CONSIGNEE4_PHONE], row[columnIds.CONSIGNEE4_EMAIL]]"></k9-card-details>
                    </div>
                </div>
            </div>
        </k9-card>
        <k9-card>
            <div
                card-header
                class="k9-card-header k9-travel-card-header"
            >
                <h4>Travel Info</h4>
                <k9-text
                    *ngIf="row[columnIds.JOURNEY]"
                    [fontSize]="'1rem'"
                    [content]="'Journey#: ' + row[columnIds.JOURNEY]"
                    [fontWeight]="'bold'"
                ></k9-text>
            </div>
            <!-- <div
                *ngIf="modeService.mode === 'member'"
                card-body
                class="k9-card-body k9-travel-card-body k9-card-body-empty"
            >
                <k9-text [content]="'To view travel information, search for trip info.'"></k9-text>
            </div> -->
            <div
                card-body
                class="k9-card-body k9-travel-card-body"
            >
                <div class="k9-travel-card-info-wrap">
                    <div class="travel-card-info-header">
                        <k9-text
                            [fontSize]="'1.2rem'"
                            [content]="'EVENT'"
                            [fontWeight]="'bold'"
                        ></k9-text>
                    </div>
                    <div class="travel-card-info-body">
                        <div class="travel-card-event-info">
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Name: ' + (modeService.mode === 'trip' ? row[columnIds.EVENT_NAME] : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Entry Confirmation: ' + (modeService.mode === 'trip' ? row[columnIds.ENTRY_CONFIRMATION] : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Location: ' + (modeService.mode === 'trip' ? (row[columnIds.EVENT_LOCATION] || '--') : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Start Date: ' + (modeService.mode === 'trip' ? (row[columnIds.EVENT_START_DATE] || '--') : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'End Date: ' + (modeService.mode === 'trip' ? (row[columnIds.EVENT_FINISH_DATE] || '--') : '')"
                            ></k9-text>
                        </div>
                    </div>
                </div>
                <div class="k9-travel-card-info-wrap travel-card-flight-info">
                    <div class="travel-card-info-header">
                        <k9-text
                            [fontSize]="'1.2rem'"
                            [content]="'OUTBOUND'"
                            [fontWeight]="'bold'"
                        ></k9-text>
                    </div>
                    <div class="travel-card-info-body">
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Airway Bill #: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_AIRWAY_BILL] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Departure Date: ' + (modeService.mode === 'trip' ? (row[columnIds.DESIRED_DEPARTURE_DATE] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Originating Airport: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_ORIGINATING_AIRPORT] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Airline: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_AIRLINE] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Flight #: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_FLIGHT_NUMBER] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Departure Time: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_DEPARTURE_TIME] || '--') : '')"
                        ></k9-text>
                        <ng-container *ngIf="row[columnIds.OUTBOUND_CONNECTING_AIRPORT]">
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Connecting Airport: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_CONNECTING_AIRPORT] || '--') : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Arrival Time: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_CONNECTING_ARRIVAL_TIME] || '--') : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Connecting Airline: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_CONNECTING_AIRLINE] || '--') : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Connecting Flight #: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_CONNECTING_FLIGHT_NUMBER] || '--') : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Connecting Departure Time: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_CONNECTING_DEPARTURE_TIME] || '--') : '')"
                            ></k9-text>
                        </ng-container>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Destination Airport: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_DESTINATION_AIRPORT] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Arrival Time: ' + (modeService.mode === 'trip' ? (row[columnIds.OUTBOUND_DESTINATION_ARRIVAL_TIME ] || '--') : '')"
                        ></k9-text>
                    </div>
                </div>
                <div class="k9-travel-card-info-wrap travel-card-flight-info">
                    <div class="travel-card-info-header">
                        <k9-text
                            [fontSize]="'1.2rem'"
                            [content]="'RETURN'"
                            [fontWeight]="'bold'"
                        ></k9-text>
                    </div>
                    <div class="travel-card-info-body">
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Airway Bill #: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_AIRWAY_BILL] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Departure Date: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_DATE] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Originating Airport: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_ORIGINATING_AIRPORT] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Airline: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_AIRLINE] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Flight #: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_FLIGHT_NUMBER] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Departure Time: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_DEPARTURE_TIME] || '--') : '')"
                        ></k9-text>
                        <ng-container *ngIf="row[columnIds.RETURN_CONNECTING_AIRPORT]">
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Connecting Airport: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_CONNECTING_AIRPORT] || '--') : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Arrival Time: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_CONNECTING_ARRIVAL_TIME] || '--') : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Connecting Airline: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_CONNECTING_AIRLINE] || '--') : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Connecting Flight #: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_CONNECTING_FLIGHT_NUMBER] || '--') : '')"
                            ></k9-text>
                            <k9-text
                                [fontSize]="'0.8rem'"
                                [content]="'Connecting Departure Time: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_CONNECTING_DEPARTURE_TIME] || '--') : '')"
                            ></k9-text>
                        </ng-container>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Destination Airport: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_DESTINATION_AIRPORT] || '--') : '')"
                        ></k9-text>
                        <k9-text
                            [fontSize]="'0.8rem'"
                            [content]="'Arrival Time: ' + (modeService.mode === 'trip' ? (row[columnIds.RETURN_DESTINATION_ARRIVAL_TIME] || '--') : '')"
                        ></k9-text>
                    </div>
                </div>
            </div>
        </k9-card>
    </div>
</section>
<k9-footer></k9-footer>
